<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<div class="login-content">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <p class="error">Email invalide</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'"
          class="password-toggle"
          (click)="togglePassword()">
        </ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <p class="error">Mot de passe requis</p>
      </ion-text>

      <ion-button
        expand="block"
        type="submit"
        class="ion-margin-top"
        [disabled]="form.invalid || loading">
        <ion-spinner *ngIf="loading" name="dots" slot="start"></ion-spinner>
        Se connecter
      </ion-button>

      <ion-text color="danger" *ngIf="error">
        <p class="error ion-text-center">{{ error }}</p>
      </ion-text>

      <div class="link-container">
        <a routerLink="/register">Pas encore de compte ? Inscrivez-vous</a>
      </div>
    </form>
  </div>
</div>
