<ion-header>
  <ion-toolbar>
    <ion-title>S'inscrire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      S'inscrire
    </ion-button>

    <ion-text color="danger" *ngIf="error">
      <p>{{ error }}</p>
    </ion-text>

    <ion-button fill="clear" routerLink="/auth/register">
      Déja un compte ? Connectez-vous
    </ion-button>
  </form>
</ion-content>
